---
import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="minecord">
  <main class="p-8 w-full lg:w-1/2 text-left self-center text-ctp-text flex flex-col gap-4">
    <h1 class="text-4xl font-bold my-4"><a class="text-ctp-overlay0" href="/">dakota/</a>minecord</h1>
    <p>you can view the source code <a href="https://github.com/dakota-byte/MineCord" class="text-ctp-sky">here</a></p>
    <p>minecraft made it 3D. terraria made it 2D. minecord makes it 1D.</p>
    <p>built with Python, Google Firebase, discord.py, and a little bit of photoshop</p>
    <p>gameplay is done via commands, such as “/gather”, “/hunt”, “/mine”, “/eat”, “/craft”, and “/enchant”</p>
    <p>screenshots</p>
    <img src="/minecord1.png" height=400 width=400/>
    <img src="/minecord2.png" height=400 width=400/>
    <img src="/minecord3.png" height=400 width=400/>
    <img src="/minecord4.png" height=400 width=400/>
    <img src="/minecord5.png" height=400 width=400/>
    <img src="/minecord6.png" height=400 width=400/>
    <img src="/minecord7.png" height=400 width=400/>
    <img src="/minecord8.png" height=400 width=400/>
    <img src="/minecord9.png" height=400 width=400/>
    <img src="/minecord10.png" height=400 width=400/>
    <img src="/minecord11.png" height=400 width=400/>
    <Footer />
  </main>
</Layout>
