---
import { Image } from 'astro:assets';
import Button from './88x31.astro';
---

<div>
  <h1 class="text-3xl font-bold">buttons!!</h1>
  <!-- <div style="image-rendering: pixelated;" class="my-4">
    <p>my button :3</p>
    <a href="https://github.com/circularsprojects/circular-astro?tab=readme-ov-file#my-88x31-button-code"><img src="/circular-88x31.gif" class="hover:scale-125 duration-150 ease-bounce hover:rotate-3" alt="my button :3" loading=lazy></a>
  </div> -->
  <ul style="image-rendering: pixelated;" class="flex flex-wrap gap-2 [&>*:hover]:scale-125 [&>*:hover]:rotate-3 odd:[&>*:hover]:-rotate-3 [&>*]:duration-150 [&>*]:ease-bounce">

    <Button href="https://circulars.dev" src="https://circulars.dev/circular-88x31.gif" alt="circulars" />

  </ul>
</div>
