<footer class="text-center text-ctp-surface1 text-xs self-center flex flex-col items-center">
  <p>website is currently work in progress</p>
  <p>not copyrighted</p>
  <p>forked from <a href="https://github.com/circularsprojects/circular-astro" class="text-ctp-surface2 hover:text-base duration-150">circulars</a></p>
  <!-- <div class="flex h-[32px] [&>*]:hover:animate-spin">
    <img src="/neco cheer.gif" alt="neco cheer" width=32 height=32 loading=lazy>
    <img src="/neco smoove.gif" alt="neco smoove" width=32 height=32 loading=lazy>
    <img src="/neco spin.gif" alt="neco spin" width=32 height=32 loading=lazy>
  </div> -->
</footer>
